{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../whyting/static/css/mainPageStyle.css">
    <title>Document</title>
</head>
<body>
    <section id="secTop">
        <!--<a id="btnProfile" href="{% url 'login'%}"><img src="../../whyting/static/images/profile.png"></a>-->
        <div id="btnProfile"><img src="../../whyting/static/images/profile.png"></div>
        <a id="btnMenu" href="{% url 'login'%}"><img src="../../whyting/static/images/menu_icon.png"></a>
    </section>
    <section>
        <div class="modal">
            <div class="modal_body">
                <div id="divLogin">
                    <!-- 로그인 html -->
                </div>
            </div>
        </div>
        <script>
            const modal = document.querySelector('.modal');
            const btnOpenPopup = document.querySelector('#btnProfile');
            btnOpenPopup.addEventListener('click', () => {
                modal.style.display = 'block';
            });
            modal.addEventListener("click", e => {
                const evTarget = e.target
                if(evTarget.classList.contains("modal")) {
                    modal.style.display = "none"
                }
            })

            async function fetchHtmlAsText() {
                return await (await fetch("{% url 'login'%}")).text();
            }

            async function importPage(target) {
                document.querySelector('#' + target).innerHTML = await fetchHtmlAsText();
            }
            importPage('divLogin')
        </script>
    </section>
    <section>
        <div id="divLogo"><img src="../../whyting/static/images/logo_font.png"></div>
        <div id="divSearch">
            <form action="{% url 'map' %}" method="POST">
                <div id="searchBar">
                    {% csrf_token %}
                    <button><img src="../../whyting/static/images/search_icon.png"></button>
                    <input type="text" placeholder="검색" id="keyword" name="keyword">
                </div>
            </form>
        </div>
    </section>
</body>
</html>
