<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../whyting/static/css/mainPageStyle.css">
    <title>Document</title>
</head>
<body>
    <section id="secTop">
        <button id="btnProfile"><img src="../../whyting/static/images/profile_icon.png"></button>
        <button id="btnMenu"><img src="../../whyting/static/images/menu_icon.png"></button>
    </section>
    <section>
        <div id="divLogo"><img src="../../whyting/static/images/logo_font.png"></div>
        <div id="divSearch">
            <div id="searchBar">
                <button><img src="../../whyting/static/images/search_icon.png"></button>
                <input type="text" placeholder="검색">
            </div>
        </div>
    </section>
</body>
</html>