{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../whyting/static/css/mapStyle.css">
    <title>키워드로 장소검색하기</title>
    
</head>

<body>
 <!--로그아웃 구역-->
 <section id="secLeft">
    <div id="divLogout">
        <div id="btnLogout"></div>
        <p>로그아웃</p>
    </div>
</section>

<!--가게 리스트 구역-->
<section id="secRight">
    <div id="divLogo"><img src="../../whyting/static/images/logo_font.png"></div>
    <div id="divSearch">
        <div id="searchBar">
            <form onsubmit="searchPlaces(); return false;">
                <button><img src="../../whyting/static/images/search_icon.png"></button>
                <input type="text" value="한성대학교" id="keyword">
            </form>
        </div>
    </div>
    <div id="divList">
        <ul id="restaurantList">
            {% for store in all_store %}
            <li id="se" onclick="showReservationSection()" style="cursor:pointer;">
                <div style="position: relative;">
                    {% for i in store.store_image.all %}
                    <img id="rstImg" src="{{i.image.url}}">
                    {% endfor %}
                    <div id="divRst">
                        <p id="rstName">{{store.name}}</p>
                        <p id="rstIntro">{{store.introduction}}</p>
                        <p id="rstEtc">웨이팅 상황: {{store.waiting_state}}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<!--가게 예약 섹션-->
<section id="reserveSection">
    <div>
        <table style="width:100%">
            <tr>
                <td rowspan="3"><img src="../../whyting/static/images/cafe1.jpeg" style="width:100%;height:200px"></td>
            </tr>
            <tr>
                <td><img src="../../whyting/static/images/cafe2.jpeg" style="width:100%;height:100px"></td>
                <td><img src="../../whyting/static/images/cafe3.jpeg" style="width:100%;height:100px"></td>
            </tr>
            <tr>
                <td><img src="../../whyting/static/images/cafe4.jpeg" style="width:100%;height:100px"></td>
                <td><img src="../../whyting/static/images/cafe5.jpeg" style="width:100%;height:100px"></td>
            </tr>
        </table>
        <div style="display:inline-block;vertical-align:top;height:100px">
            <img src="../../whyting/static/images/empty_book_mark.png" style="width:70px;height:80px; margin-left: 5px;" id="bookMark" onclick="markChange();">
        </div>
        <div style="width:80%;display:inline-block;text-align: center;margin-top:20px">
            <span style="font-size: 30px;">음식점 명</span>
            <span>음식점 종류</span>
            <br>
            <span>4.5/5.0 / </span>
            <span> 리뷰 349 / </span>
            <span>평균 6,000</span>
        </div>

        <div style="width:100%;height:100px;border-top:1px solid black;border-bottom: 1px solid black;">
            <div id="home" style="background-color:#FFEFD9" onclick="changeSection('home')" class="infoSection">홈</div> 
            <div id="seat"  class="infoSection" onclick="changeSection('seat')" >좌석</div> 
            <div id="reservation" class="infoSection" onclick="changeSection('reservation')" >예약</div> 
        </div>
        <div id="homeSection">
            <div style="border-bottom:1px solid black;">
                <div id="infoSection">
                        서울 종로구 창경궁로 231 2층 일월일일
                </div>
                <div style="margin-left:16%">혜화역 4번 출구에서 328m</div>
                <div id="infoSection">
                    0507-1344-0887
                </div>
                <div id="infoSection">
                    영업중
                </div>
                <div id="infoSection" style="color:#FFA133; margin-top:5%;margin-bottom:5%">
                http://www.instargram.com//ioio.hh
                </div>
            </div>
            <div style="margin-top:4%; margin-bottom: 5%;">
                <div style="margin-left:5%;font-size: 20px;">메뉴</div>
                <div id="menu">찰떡 아이스크림 ------------ 5,000</div>
                <div id="menu">단호박 라떼 ------------ 6,500</div>
                <div id="menu">바스크 치즈케이크 ------------ 5,000</div>
                <div id="menu">아메리카노 ------------ 5,000</div>
            </div>
            <div id="moreView">
                메뉴 더보기 +
            </div>
            <div id="reviewSection">
                리뷰
            </div>
            <div id="reviews">
                <div style="display:inline-block; width:60%;text-align: left;">
                    이곳은 리뷰를 작성하는 공간입니다. 여러가지의 리뷰를 작성할 수 있습니다.<br>
                    <span style="font-size:17px">작성자</span>
                </div>
                <div style="float:right; width:100px; height:100px; background-color:lightgray">
                </div>
            </div>
            <div id="moreView">
                리뷰 더보기 +
            </div>
        </div>
        <div id="seatSection">
            예약 섹션

        </div>
    </div>
</section>
<div id="map" style="width: auto;height:100%;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9a95ed71a715d68f8b0178bf888d52bf&libraries=services"></script>
<script>
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 2 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places(); 

// 키워드로 장소를 검색합니다
searchPlaces();

// 키워드 검색을 요청하는 함수입니다
function  searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
    
}



//예약 화면 출력 함수
function showReservationSection(){
    const info = document.getElementById("se");
    const reserveSection = document.getElementById("reserveSection");
    reserveSection.style.display='block';
}

kakao.maps.event.addListener(map,'drag',function(){
    const reserveSection = document.getElementById("reserveSection");
    reserveSection.style.display='none';
})

function markChange(){
    const markImg = document.getElementById("bookMark");

}

function changeSection(sectionName){
    const home  = document.getElementById('home');
    const seat  = document.getElementById('seat');
    const reservation  = document.getElementById('reservation');
    const homeSection =document.getElementById('homeSection');
    const seatSection = document.getElementById('seatSection');
    if(sectionName === 'home'){
        home.style.backgroundColor="#FFEFD9"
        seat.style.backgroundColor="white"
        reservation.style.backgroundColor="white"
        homeSection.style.display='block'
        seatSection.style.display='none'
    }else if(sectionName === 'seat'){
        seat.style.backgroundColor="#FFEFD9"
        home.style.backgroundColor="white"
        reservation.style.backgroundColor="white"
        homeSection.style.display='none'
        seatSection.style.display='block'
    }else{
        reservation.style.backgroundColor="#FFEFD9"
        seat.style.backgroundColor="white"
        home.style.backgroundColor="white"
    }
}

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);    
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }       

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    } 
}

// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {
    
    // 마커를 생성하고 지도에 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x) 
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}
</script>
</body>
</html>