{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../whyting/static/css/mapStyle.css">
    <script src='./../whyting/static/js/main.js'></script>

    <title>키워드로 장소검색하기</title>
</head>

<body>
 <!--로그아웃 구역-->
 <section id="secLeft">
    <div id="divLogout">
        <div id="btnLogout"></div>
        <p>로그아웃</p>
    </div>
</section>

<!--가게 리스트 구역-->
<section id="secRight">
    <div id="divLogo"><img src="../../whyting/static/images/logo_font.png"></div>
    <div id="divSearch">
        <div id="searchBar">
            <form onsubmit="searchPlaces(); return false;">
                <button><img src="../../whyting/static/images/search_icon.png"></button>
                <input type="text" value="{{keyword}}" id="keyword">
            </form>
        </div>
    </div>
    <div id="divList">
        <ul id="restaurantList">
            <li id="se" onclick="showReservationSection()" style="cursor:pointer;">
                {% for store in all_store %}
                <div style="position: relative;">
                    {% for i in store.store_image.all %}
                    <img id="rstImg" src="{{i.image.url}}">
                    {% endfor %}
                    <div id="divRst">
                        <p id="rstName">{{store.name}}</p>
                        <p id="rstIntro">{{store.introduction}}</p>
                        <p id="rstEtc">웨이팅 상황: {{store.waiting_state}}, 평점: 4.5, 후기: 3,400건</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<section id="reserveSection">
    <div>
        <table style="width:100%">
            <tr>
                <td rowspan="3"><img src="../../whyting/static/images/cafe1.jpeg" style="width:100%;height:200px"></td>
            </tr>
            <tr>
                <td><img src="../../whyting/static/images/cafe2.jpeg" style="width:100%;height:100px"></td>
                <td><img src="../../whyting/static/images/cafe3.jpeg" style="width:100%;height:100px"></td>
            </tr>
            <tr>
                <td><img src="../../whyting/static/images/cafe4.jpeg" style="width:100%;height:100px"></td>
                <td><img src="../../whyting/static/images/cafe5.jpeg" style="width:100%;height:100px"></td>
            </tr>
        </table>
        <div style="display:inline-block;vertical-align:top;height:100px">
            <img src="../../whyting/static/images/empty_book_mark.png" style="width:70px;height:80px; margin-left: 5px;" id="bookMark" onclick="markChange();">
        </div>
        <div style="width:75%;display:inline-block;text-align: center;margin-top:20px">
            <span style="font-size: 30px;">음식점 명</span>
            <span>음식점 종류</span>
            <br>
            <span>4.5/5.0 / </span>
            <span> 리뷰 349 / </span>
            <span>평균 6,000</span>
        </div>

        <div style="width:100%;height:100px;border-top:1px solid black;border-bottom: 1px solid black;margin-top:30px;">
            <div id="home" style="background-color:#FFEFD9;" onclick="changeSection('home')" class="infoSection">홈</div> 
            <div id="seat"  class="infoSection" onclick="changeSection('seat')" >좌석</div> 
            <div id="reservation" class="infoSection" onclick="changeSection('reservation')" >예약</div> 
        </div>
        <div id="homeSection">
            <div style="border-bottom:1px solid black;">
                <div id="infoSection">
                        서울 종로구 창경궁로 231 2층 일월일일
                </div>
                <div style="margin-left:16%">혜화역 4번 출구에서 328m</div>
                <div id="infoSection">
                    0507-1344-0887
                </div>
                <div id="infoSection">
                    영업중
                </div>
                <div id="infoSection" style="color:#FFA133; margin-top:5%;margin-bottom:5%">
                http://www.instargram.com//ioio.hh
                </div>
            </div>
            <div style="margin-top:4%; margin-bottom: 5%;">
                <div style="margin-left:5%;font-size: 20px;">메뉴</div>
                <div id="menu">찰떡 아이스크림 ------------ 5,000</div>
                <div id="menu">단호박 라떼 ------------ 6,500</div>
                <div id="menu">바스크 치즈케이크 ------------ 5,000</div>
                <div id="menu">아메리카노 ------------ 5,000</div>
            </div>
            <div id="moreView">
                메뉴 더보기 +
            </div>
            <div id="reviewSection">
                리뷰
            </div>
            <div id="reviews">
                <div style="display:inline-block; width:60%;text-align: left;">
                    이곳은 리뷰를 작성하는 공간입니다. 여러가지의 리뷰를 작성할 수 있습니다.<br>
                    <span style="font-size:17px">작성자</span>
                </div>
                <div style="float:right; width:100px; height:100px; background-color:lightgray">
                </div>
            </div>
            <div id="moreView">
                리뷰 더보기 +
            </div>
        </div>
        <div id="seatSection">
            <div id="seatInfo">
                <img src="../../whyting/static/images/seatImage.jpeg">
                <div>
                    <div>창가 좌석</div>
                    <p>예쁜 거리를 볼 수 있는 좌석입니다. <br>
                        날씨가 좋은 날에는 창문으로 들어오는 햇빛과 함깨 디저트를 즐기실 수 있습니다.
                    </p>
                    <p> 1번 - 5번 <br> 2인석/3인석</p>
            </div>
            </div>
            <div id="seatInfo">
                <img src="../../whyting/static/images/many_people_seat.jpeg">
                <div>
                    <div>단체석</div>
                    <p>모임이나 회의를 위해 많은 분들이 앉으실 수 있는 좌석입니다. 바로 위에 잔잔한 조명이 있어 예쁜
                        사진도 많이 찍어가실 수 있습니다.
                    </p>
                    <p> 6번 - 11번<br>6인석</p>
            </div>
            </div>
            <div id="seatInfo" style="margin-bottom:3%">
                <img src="../../whyting/static/images/couple_seat.webp">
                <div>
                    <div>커플석</div>
                    <p>2명을 위한 좌석으로 일반적인 카페 좌석입니다. 
                        다양한 2인용 좌석들이 존재하기 때문에 예약을 하실 때에는 커플석을 예약하시고
                        오셔서 좌석을 고르시면 됩니다.
                    </p>
                    <p>12번 - 21번 <br> 2인석 X 5</p>
                    
            </div>
            </div>
            <div id="moreView" style="margin-bottom:2%">
                좌석 더보기 +
            </div>
        </div>
        
    </div>
    <div id="reserve">
        <div id="reserveOptions">
            <div style="margin-left:15%;font-size:20px;padding-bottom:4%;display:inline-block" >좌석</div>
            <img style="width:20px;height:20px;float:right;margin-right:2%;cursor:pointer;" onclick="detail('seat')" src="../../whyting/static/images/bottom_arrow.png">
        </div>
        <div id="detailSeat">
            <table id="seatTable">
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                </tr>
              </table>
        </div>
        <div id="reserveOptions">
            <div style="margin-left:15%;font-size:20px;padding-bottom:4%;display:inline-block" >날짜</div>
            <img style="width:20px;height:20px;float:right;margin-right:2%;cursor:pointer;" onclick="detail('date')" src="../../whyting/static/images/bottom_arrow.png">
        </div>
        <div id="detailDate">
            <div id="calendar"></div>
        </div>
        <div id="reserveOptions">
            <div style="margin-left:15%;font-size:20px;padding-bottom:4%;display:inline-block" >시간 선택</div>
            <img style="width:20px;height:20px;float:right;margin-right:2%;cursor:pointer;" onclick="detail('time')" src="../../whyting/static/images/bottom_arrow.png">
        </div>
        <div id="detailTime">
            <div>
                <div>오전</div>
                <input type="button" id="timeBtn" value="10:00">
                <input type="button" id="timeBtn" value="11:00">
            </div>
             <div>
                <div>오후</div>
                <input type="button" id="timeBtn" value="1:00">
                <input type="button"id="timeBtn" value="2:00">
                <input type="button" id="timeBtn" value="3:00">
                <input type="button"id="timeBtn" value="4:00">
                <input type="button" id="timeBtn" value="5:00">
                <input type="button"id="timeBtn" value="6:00">
                <input type="button"id="timeBtn" value="7:00">
            </div>
        </div>
        <div id="reserveOptions">
            <div style="margin-left:15%;font-size:20px;padding-bottom:4%;display:inline-block" >인원</div>
            <img style="width:20px;height:20px;float:right;margin-right:2%;cursor:pointer;"  onclick="detail('person')" src="../../whyting/static/images/bottom_arrow.png">
        </div>
        <div id="detailPeople" style="width:400px;height:100px;text-align: center;">
            <div style="display:inline-block;margin-left:20%">인원을 선택하세요.</div> <input style="float:right" type="value" placeholder="인원을 입력해주세요">
        </div>
        <div style="text-align: center">
            <input type="submit" id="reserveSubmit" value="예약"/>
        </div>
    </div>
</section>

<div id="map" style="width: auto;height:100%;"></div>
<div id="name" style="display: none">
{% for store in all_store %}
    {{store.name}},
{% endfor %}
</div>
<div id="address" style="display: none">
{% for store in all_store %}
    {{store.adress}},
{% endfor %}
</div>

<!-- 지도 API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=21029e99a993c5535089ee6f84c08a55&libraries=services"></script>
<script>
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 2 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new kakao.maps.Map(mapContainer, mapOption); 


// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places(); 

// 키워드로 장소를 검색합니다
searchPlaces();



function detail(order){
    console.log(order)
    if(order === 'seat'){
        const detailSeat = document.getElementById('detailSeat');
        if( detailSeat.style.display==='none'){
            detailSeat.style.display='block'
        }else{
            detailSeat.style.display='none'
        }
        
    }else if(order==='date'){
        const detailDate = document.getElementById('detailDate');
        if( detailDate.style.display==='none'){
            detailDate.style.display='block'
        }else{
            detailDate.style.display='none'
        }
    }else if(order==='person'){
        const detailPeople = document.getElementById('detailPeople');
        if( detailPeople.style.display==='none'){
            detailPeople.style.display='block'
        }else{
            detailPeople.style.display='none'
        }
    }else{
        const detailTime = document.getElementById('detailTime');
        if( detailTime.style.display==='none'){
            detailTime.style.display='block'
        }else{
            detailTime.style.display='none'
        }
    }
}

// 키워드 검색을 요청하는 함수입니다
function  searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch(keyword, placesSearchCB); 
    
}
// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            //displayMarker(data[i]);    
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }       

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    } 
}
// 가개 마커 찍는거
var geocoder = new kakao.maps.services.Geocoder();
// 주소로 좌표를 검색합니다
geocoder.addressSearch('동소문동2가 11', function(result, status) {
// 정상적으로 검색이 완료됐으면 
if (status === kakao.maps.services.Status.OK) {
    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });
    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">카페(2)</div>'
    });
    infowindow.open(map, marker);
    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    //map.setCenter(coords);
    } 
});

geocoder.addressSearch('삼선동1가 13-4 1층', function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {

    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">음식점(2)</div>'
    });
    infowindow.open(map, marker);

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    //map.setCenter(coords);
    } 
});
geocoder.addressSearch('동소문동1가 17', function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {

    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">카페(1)</div>'
    });
    infowindow.open(map, marker);

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    //map.setCenter(coords);
    } 
});

geocoder.addressSearch('동소문동1가 48', function(result, status) {

// 정상적으로 검색이 완료됐으면 
 if (status === kakao.maps.services.Status.OK) {

    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    // 인포윈도우로 장소에 대한 설명을 표시합니다
    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:6px 0;">음식점(1)</div>'
    });
    infowindow.open(map, marker);

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    //map.setCenter(coords);
    } 
});

// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {
    
    // 마커를 생성하고 지도에 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x) 
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}
//예약 화면 출력 함수
function showReservationSection(){
    const info = document.getElementById("se");
    const reserveSection = document.getElementById("reserveSection");
    reserveSection.style.display='block';
}

kakao.maps.event.addListener(map,'drag',function(){
    const reserveSection = document.getElementById("reserveSection");
    reserveSection.style.display='none';
})

function markChange(){
    const markImg = document.getElementById("bookMark");
    if(markImg.src === "http://127.0.0.1:5501/mutsa_hackathon/whyting/static/images/empty_book_mark.png"){
        markImg.src = "http://127.0.0.1:5501/mutsa_hackathon/whyting/static/images/full_book_mark.jpg"
    }else{
        markImg.src = "http://127.0.0.1:5501/mutsa_hackathon/whyting/static/images/empty_book_mark.png"
    }
}

function changeSection(sectionName){
    const home  = document.getElementById('home');
    const seat  = document.getElementById('seat');
    const reservation  = document.getElementById('reservation');
    const homeSection =document.getElementById('homeSection');
    const seatSection = document.getElementById('seatSection');
    const reserveSection = document.getElementById('reserve')
    if(sectionName === 'home'){
        home.style.backgroundColor="#FFEFD9"
        seat.style.backgroundColor="white"
        reservation.style.backgroundColor="white"
        homeSection.style.display='block'
        seatSection.style.display='none'
        reserveSection.style.display='none'
    }else if(sectionName === 'seat'){
        seat.style.backgroundColor="#FFEFD9"
        home.style.backgroundColor="white"
        reservation.style.backgroundColor="white"
        homeSection.style.display='none'
        seatSection.style.display='block'
        reserveSection.style.display='none'
    }else{
        reservation.style.backgroundColor="#FFEFD9"
        seat.style.backgroundColor="white"
        home.style.backgroundColor="white"
        homeSection.style.display='none'
        reserveSection.style.display='block'
        seatSection.style.display='none'
    }
}


</script>
</body>
</html>