<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../whyting/static/css/searchPageStyle.css">
    <title>Document</title>
</head>
<body>
    <!--로그아웃 구역-->
    <section id="secLeft">
        <div id="divLogout">
            <div id="btnLogout"></div>
            <p>로그아웃</p>
        </div>
    </section>

    <!--가게 리스트 구역-->
    <section id="secRight">
        <div id="divLogo"><img src="../../whyting/static/images/logo_font.png"></div>
        <div id="divSearch">
            <div id="searchBar">
                <button><img src="../../whyting/static/images/search_icon.png"></button>
                <input type="text" placeholder="검색">
            </div>
        </div>
        <div id="divList">
            <ul id="restaurantList">
                <li>
                    <div style="position: relative;">
                        <img id="rstImg" src="../../whyting/static/images/KakaoTalk_Photo_2022-07-22-00-29-58 001.jpeg">
                        <div id="divRst">
                            <p id="rstName">가게이름</p>
                            <p id="rstIntro">가게설명 어쩌구 저쩌구</p>
                            <p id="rstEtc">기타정보 리뷰 댓글 등</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="position: relative;">
                        <img id="rstImg" src="../../whyting/static/images/KakaoTalk_Photo_2022-07-22-00-29-58 001.jpeg">
                        <div id="divRst">
                            <p id="rstName">가게이름</p>
                            <p id="rstIntro">가게설명 어쩌구 저쩌구</p>
                            <p id="rstEtc">기타정보 리뷰 댓글 등</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img id="rstImg" src="../../whyting/static/images/KakaoTalk_Photo_2022-07-22-00-29-58 001.jpeg">
                        <div id="divRst" style="position: relative;">
                            <p id="rstName">가게이름</p>
                            <p id="rstIntro">가게설명 어쩌구 저쩌구</p>
                            <p id="rstEtc">기타정보 리뷰 댓글 등</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="position: relative;">
                        <img id="rstImg" src="../../whyting/static/images/KakaoTalk_Photo_2022-07-22-00-29-58 001.jpeg">
                        <div id="divRst">
                            <p id="rstName">가게이름</p>
                            <p id="rstIntro">가게설명 어쩌구 저쩌구</p>
                            <p id="rstEtc">기타정보 리뷰 댓글 등</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div style="position: relative;">
                        <img id="rstImg" src="../../whyting/static/images/KakaoTalk_Photo_2022-07-22-00-29-58 001.jpeg">
                        <div id="divRst">
                            <p id="rstName">가게이름</p>
                            <p id="rstIntro">가게설명 어쩌구 저쩌구</p>
                            <p id="rstEtc">기타정보 리뷰 댓글 등</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>
<!--
<script src="searchList.js"></script>
-->
</html>